@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
    font-family: 'Helvetica Neue';
    src: local('Helvetica Neue Roman'), local('Helvetica-Neue-Roman'),
        url('assets/fonts/HelveticaNeueCyr-Roman.woff2') format('woff2'),
        url('assets/fonts/HelveticaNeueCyr-Roman.woff') format('woff'),
        url('assets/fonts/HelveticaNeueCyr-Roman.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

body {
    @apply font-sans
}

@layer base {
  :root {
        --radius: 0.5rem;
    }
}